body{
    color: rgb(36, 19, 73);
    margin: 0;
    font-family: soleil, sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgba(223, 123, 123, 0.471), rgba(36, 19, 73, 0.473));
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
}
h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
}
h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
}
p{
    line-height: 1.5;
    margin-bottom: 20px;
}
a{
    color: rgba(223, 123, 123, 0.825);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img {
    max-width: 100%;
    display: block;
}
nav{
    background-repeat: no-repeat;
    padding: 0em;
    position: sticky;
    width: 90%;
    top: 30px;
    bottom: 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 0vw;
    list-style: none;
}
nav li{
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
nav a{
    color: rgba(223, 123, 123, 0.825);
    padding: .5em 1em;
    flex: 1;
    background-image: linear-gradient(to bottom right, rgb(223, 123, 123), rgb(36, 19, 73));
    background-size: cover;
    text-decoration: none;
}
.logo{
    background-image: linear-gradient(to bottom left, rgb(223, 123, 123), rgba(36, 19, 73, 0.815));
    background-repeat: no-repeat;
    background-size: fill;
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 20px 5px;
    flex: 0.2;
    height: 235px;
    text-align: top;
    writing-mode: vertical-rl;
    text-orientation: sideways-left;
    font-family: lust-display, serif;
    font-size: 1.5em;
    font-weight: 300;
    color: linear-gradient(to bot   tom right, rgb(223, 123, 123), rgb(36, 19, 73));
}
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (max-width: 500px){
    .about{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin: 12px;
    }
    nav{
        top: 0px;
        padding: 0;
    }
}
.about img {
    float: left;
    margin-right: 1em;
    max-height: 300px;
    width: auto;
}

.about p {
    overflow: auto;
}

td img{
    width: 40vw;

}

p img{
    width: 10vw;
}